.container{
    max-width: 100%;
    margin: 0 auto;
    font-size: 24px;
    padding: 25px;
    background-color: #e9d6d8;
}
.parallax {
    min-height: 400px;
    background: transparent;
    box-shadow: 0 0 30px 0 white;
    border: solid 1px white;
}
.p1{
    color: #dbb7be;
}
.p2{
    color: #d9b4ca;
}
.p3{
    color:#bb8eb2;
}
.p4{
    color:#956e9f;
}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #dbb7be;
  }
  
  ul.topnav li {float: left;}
  
  ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 98px;
    text-decoration: none;
  }
  
  ul.topnav li a:hover:not(.active) {background-color: #956e9f;}
  
  ul.topnav li.right {float: right; float: left;}
  
  @media screen and (max-width: 600px) {
    ul.topnav li.right, 
    ul.topnav li {float: none;}
  }